<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Categories</h1>

    <ul>
        {% for category in all_categories %}
        <li><a href='{{ url_for('category_items', category_name=category.name) }}'>{{ category.name }}</a></li>
        {% endfor %}
    </ul>

    <h1>{{ category.name }} Items</h1>

    <ul>
        {% for category_item in category_items %}
        <li><a href='#'>{{ category_item.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
