<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a href="{{ url_for('new_item') }}">Add Item</a>

    <h1>Categories</h1>

    <ul>
        {% for category in all_categories %}
        <li><a href='{{ url_for('category_items', category_name=category.name) }}'>{{ category.name }}</a></li>
        {% endfor %}
    </ul>

    <h1>Latest Items</h1>

    <ul>
        {% for latest_item in latest_items %}
        <li><a href='{{ url_for('item', category_name=latest_item.Category.name, item_name=latest_item.Item.name) }}'>{{ latest_item.Item.name }} ({{ latest_item.Category.name }})</a></li>
        {% endfor %}
    </ul>
</body>
</html>
